.text {
    width: 25%;
    border: 1px solid #000;
    word-wrap: break-word;
}

#work {
    color: #00cc00;
}

#nowork {
    color: #cc0000;
}

a {
    text-decoration: none;
}

.commit {
    text-decoration: none;
    color: blue;
}

textarea {
    resize: none;
}