#container {
    /*Отступы сверху и снизу 20px а по бокам автоматом по центру относительно родительского блока*/
    margin: 20px auto;
    border: 2px solid #000000;
    /*Ширина блока занимает 50% от родительского*/
    width: 50%;
}

p {
    border: 2px solid #0000005b;
    /*Убрать поля блока "p"*/
    margin: 0;
}

a {
    border: 2px solid #00000052;
}

p:first-child {
    /*Отступы у первого блока "p" со всех сторон по 30px*/
    padding: 30px;
    /*Отступы с каждой стороны*/
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    /*Поля первого блока "p" со все сторон 10px*/
    margin: 10px;
}

body > p {
    border: 2px solid #000000;
    /*Краткая запись полей блока (сначала отступ сверху и снизу 20px затем 30px слева и справа)*/
    margin: 20px 30px;
}

.div_1 {
    border: 1px solid black;
    /*Закругленная рамка, радиус закругления 20px*/
    border-radius: 20px;
    /*Тень от блока (Радиус вертикали, горизонтали, размытия и цвет)*/
    box-shadow: 5px 4px 10px #446677;
    width: 500px;
    height: 400px;
}

.div_2 {
    border: 1px solid black;
    /*Выравниваем блок по центру относительно родительского*/
    margin: 0 auto;
    width: 300px;
    height: 200px;
}

.over {
    font-size: 150%;
    width: 200px;
    height: 90px;
    /*Свойство блока: если содержимое не помещается в блоке то появляется полоса прокрутки (есть и другие свойства)*/
    overflow: auto;
    /*Отступ этого блока от других, сверху и снизу 20px, по бокам 0px*/
    margin: 20px 0;
}

