 /* <!импорт другого css файла в данный> */
@import url("color.css");

/* <!подключение шрифта> */
@font-face {
    font-family: BadScript;
    src: url("../fonts/18428.woff2") format("woff2"), url("../fonts/18428.woff") format("woff"); 
}

body {
	/* <!подключение шрифта> */
	font-family: BadScript; 
	/* <!размер шрифта по умолчанию> */
	font-size: 12pt; 
}

h1, h2 {
	/* <!положение текста на экране> */
    text-align: center; 
}
p {
	/* <!процентное увеличение шрифта> */
	font-size: 100%; 
	/* <!толщина шрифта> */
	font-weight: normal; 
	/* <!высота строки> */
	line-height: 100%; 
	/* отступ сначала нового обзаца */
	text-indent: 50px;
	/* курсив */
	font-style: italic;
	/*убрать рамку или отступы между строками*/
	margin: 0;
}
.underline {
	/* подчеркивание и отступ 0 */
	text-decoration: underline;
	text-indent: 0;
}
.strike {
	/* зачеркнутый текст */
	text-decoration: line-through;
}

a {
	color: aqua;
	/* убрать подчеркивание с сылки */
	text-decoration: none;
	font-size: 150%;
}


a.upper {
	/*Все буквы заглавные*/
	text-transform: uppercase;
}
a.lower {
	/*Все буквы маленькие*/
	text-transform: lowercase;
}
a {
	color: aqua;
}

p.shadow {
	/*текст с тенью*/
	text-shadow: 5px 4px 5px blue;
}

/*Обсулютные единицы измерения*/
/*милиметры*/
.mm {
	font-size: 20mm;
}
/*сантиметны*/
.cm {
	font-size: 2cm;
}
/*дюймы*/
.in {
	font-size: 2in;
}
/*Пункты (1/72 дюйма)*/
.pt {
	font-size: 12pt;
}

/*Относительные единицы измерения*/
/*Пиксель*/
.px {
	font-size: 20px;
}
/*1em = 100%*/
.em {
	font-size: 2em;
}
/*Проценты*/
.percent {
	font-size: 150%;
}
/*Размер в зависимости от ширины экрана (1vw=1/100 от ширины экрана)*/
.vw {
	font-size: 2vw;
}
/*Размер в зависимотси от высоты экрана (1vh=1/100 от высоты экрана)*/
.vh {
	font-size: 2vh;
}

/*Селекторы*/

/*Контекстный или вложенный*/
p span {
	color: blue;
}
/*Обычный селектор*/
b {
	color: blue;
}
/*Селектор id*/
#norma {
	color: blue;
}
/*Селектор класса*/
.dor {
	color: blue;
}
/*Селектор параметров*/
/*Для текстового поля*/
input[type="text"] {
	height: 40px;
	width: 400px;
}
/*Для кнопки*/
input[type="submit"] {
	color: blue;
/*Изменяем курсор при наведении на кнопку*/
	cursor: pointer;
}
/*Селектор отношения (Применяется в том случае, если элемент после > находится внутри родительского элемента)*/
form > p {
	font-size: 200%;
}
/*Селекторы псевдоклассов (Все псевдоэлементы можно посмотреть в справочники)*/
/*Только первый элемент списка меняет цвет*/
ul li:first-child {
	color: brown;
}
/*Меняем цвет только у третьего элемента*/
ul li:nth-child(3) {
	color: chartreuse;
}

table {
	/*Ширина таблицы 30% родительского элемента,
	Текст в центре ячейки, рамка черного цвета в 2px*/
	border: 2px solid #000;
	text-align: center;
	width: 30%;
}
/*рамка во круг каждой ячейки*/
td {
	border: 1px solid #000;
}
/*Меняем цвет только у четных элементов*/
td:nth-child(2n) {
	color: blue;
}/*Меняем цвет только у нечетных элементов*/
td:nth-child(2n + 1) {
	color: rgb(234, 0, 255);
}
/*При наведении на элемент (в данном случае ссылку) она меняет цвет и появляется полоса подчеркивания*/
a:hover {
	color: chartreuse;
	text-decoration: underline;
}
/*При веборе текстового поля появляется рамка*/
input[typt="text"]:focus {
	border: 2px solid #000;
}
