.buttonCancellation-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 40px;
  padding: 10px, 20px, 10px, 20px;
  border-radius: 10px;
  border: 1px;
  gap: 10px;
  border: 1px solid #0078A8;

  .buttonCancellation-wrap-name {
    font-family: Houschka Pro;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #42474F;
  }
}

.buttonCancellation-width {
  width: 164px !important;
}

.buttonCancellation-wrap:hover {
  cursor: pointer;
}