.assignAcarUnloadingData-namber {
  display: flex;
  align-items: center;
  width: 100px;

  div {
    margin-left: 10px;
    height: 14px;
    color: #0078a8;
    width: fit-content;
    border-bottom: 1px solid #0078a8;
  }
}

.assignAcarUnloadingData-auto:hover {
  cursor: pointer;
  font-weight: 700;
}

.assignAcarUnloadingData-margin {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.assignAcarUnloadingData-auto {
  display: flex;
  align-items: center;
  width: 170px;
  
  div {
    padding-right: 30px;
  }
}

.assignAcarUnloadingData-telephone {
  display: flex;
  align-items: center;
  width: 188px;
  
  div {
    padding-right: 30px;
  }
}

.assignAcarUnloadingData-freeTimeToday {
  display: flex;
  align-items: center;
  width: 600px;
  
  div {
    padding-right: 30px;
  }
}

.assignAcarUnloadingData-freeTimeTomorrow {
  display: flex;
  align-items: center;
  width: 300px;
  
  div {
    padding-right: 30px;
  }
}

.assignAcarUnloadingData-yearOfIssue {
  display: flex;
  align-items: center;
  width: 130px;
  
  div {
    padding-right: 30px;
  }
}

.assignAcarUnloadingData-view {
  display: flex;
  align-items: center;
  width: 115px;
  
  div {
    padding-right: 30px;
  }
}

.assignAcarUnloadingData-status {
  display: flex;
  align-items: center;
  width: 90px;
  
  div {
    padding-right: 30px;
  }
}

