.group-row-name-wrapper {
  @extend %right-disp-row-name-wrapper;
}

.groupRowNameWrapper {
  @extend %right-dispRowNameWrapper;
  justify-content: flex-start;
}

.groupRowNameWrapper-width-one {
  width: 390px;
}

.groupRowNameWrapper-width-two {
  width: 345px;
}

.groupRowNameWrapper-width-three {
  width: 355px;
}

.groupRowNameWrapper-width-four {
  width: 355px;
}