.selectData-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-end;
  justify-content: space-around;
  margin: 0 10px;

  .selectData-hide {
    opacity: 0;
    display: none;
  }

  img {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-right: 20px;
  }

  img:hover {
    cursor: pointer;
  }

  input {
    width: 220px;
    height: 40px;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 3px 3px 0px #0000000D;
    border: aliceblue;
    font-family: Houschka Pro;
    font-size: 15px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #333333;
    padding: 0 20px;
    padding-right: 50px;

    input::placeholder {
      font-family: Houschka Pro;
      font-size: 15px;
      font-weight: 300;
      line-height: 15px;
      letter-spacing: -0.02em;
      text-align: left;
      color: #A09EA3;
    }
  }

  input:focus-visible {
    outline:none;
  }

  .selectData-input {
    position: absolute;
    width: 290px;
    height: 250px;
    background-color: #FFFFFF;
    top: 35px;
    transition: 0.3s linear;
    overflow: auto;
    z-index: 1000;
    
    .selectData-row {
      width: fit-content;
      font-family: Houschka Pro;
      font-size: 15px;
      font-weight: 500;
      line-height: 15px;
      letter-spacing: -0.02em;
      text-align: left;
      color: #333333;
      margin-left: 20px;
      margin-top: 15px;
    }

    .selectData-row:hover {
      cursor: pointer;
      font-weight: 700;
    }

  }
}

.selectData-wrapper-margin {
  margin: 0 !important;
  box-shadow: none !important;
}

.selectData-input-margin {
  width: 558px !important;
}