.auth-content {
  display: flex;
  flex-direction: column;
  width: 81%;
  padding: 60px;
  margin-top: 5%;
  background-color: #fff;
  border-radius: 10px;
}

.auth-content__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-input {
  display: block;
  font-size: 18px;
  height: 38px;
  margin: 0;
  padding: 0 4px;
  border: 1px solid #ccd5db;
  border-radius: 2px;
  background: #f8fafc;
  outline: 0;
  box-sizing: border-box;
}

.form-label {
  font-size: 13px;
  color: #5a6c77;
  padding-bottom: 2px;
  margin: 10px;
}

.form-submit {
  width: 100%;
  background-color: #FFAB00;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 6px 20px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 10px;
  transition: all 0.1s ease-in-out;
  outline: none;
  border-style: none;
  text-decoration: none;
}

.form-submit:hover {
  cursor: pointer;
  background-color: #FF7000;
}