.footer-nav {
  display: flex;
  justify-content: space-between;
}

.footer-nav__col {
  padding-right: 3rem;
}

.footer-nav__col-title {
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 700;
}

.footer-nav__links > div {
  margin-bottom: 15px;
}

.footer-nav__link {
  font-size: 14px;
  text-decoration: none;
  color: #473816;
  margin: 5px 0;
}

.footer-nav__link:hover {
  text-decoration: underline;
}

.footer-row2 {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 30px;
}

.footer-row2__socials {
  display: flex;
  flex-direction: row;
}

.footer-socials {
  display: flex;
}

.footer-social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-left: 15px;
}

.footer-social:first-child {
  margin-left: 0;
}

.footer-phone {
  display: flex;
  align-items: center;
  margin-left: 100px;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  padding-bottom: 15px;
  margin-right: 275px;
}

.footer-phone:hover {
  text-decoration: underline;
}

.footer-phone svg {
  margin-right: 8px;
  color: #473816;
}

.footer-phone span {
  color: #636363;
  font-size: 12px;
}

.footer-copyright {
  font-size: 12px;
  color: #828282;
}



