%right-myTemplatesRowNameWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  // justify-content: space-between;
  height: 42px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: aliceblue;
  background: #FFFFFF;
  margin-top: 20px;
  margin-right: 30px;
  margin-bottom: 2px;
  padding-left: 15px;
  padding-right: 25px;
}

.myTemplatesRowNameWrapper {
  @extend %right-myTemplatesRowNameWrapper;
  // width: 1694px;
}

.myTemplatesRowNameWrapper-input {
  width: 40px;
  
  input[id="cb1"] + label {
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid #0078A8;
    border-radius: 2px;
    cursor: pointer;
  }
  input[id="cb1"]:checked + label:after {
    position: relative;
    top: -4px;
    left: 2px;
    content: '\2714';
    font-size: 14px;
  }
  input[id="cb1"] {
    display: none;
  }
}

.myTemplatesRowNameWrapper-zero {
  width: 40px;

  div {
    width: 14px;
    height: 14px;
    border: 1px solid #0078A8;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0078A8;
  }
}

.myTemplatesRowNameWrapper-one {
  width: 75px;
}

.myTemplatesRowNameWrapper-two {
  width: 120px;
}

.myTemplatesRowNameWrapper-three {
  width: 160px;
}

.myTemplatesRowNameWrapper-four {
  width: 105px;
}

.myTemplatesRowNameWrapper-five {
  width: 110px;
}

.myTemplatesRowNameWrapper-six {
  width: 140px;
}

.myTemplatesRowNameWrapper-seven {
  width: 135px;
}

.myTemplatesRowNameWrapper-eight {
  width: 125px;
}

.myTemplatesRowNameWrapper-nine {
  width: 135px;
}

.myTemplatesRowNameWrapper-ten {
  width: 135px;
}

.myTemplatesRowNameWrapper-eleven {
  width: 150px;
}

.myTemplatesRowNameWrapper-twelve {
  width: 150px;
}

.myTemplatesRowNameWrapper-thirteen {
  width: 115px;
}

.myTemplatesRowNameWrapper-fourteen {
  width: 90px;
}