@import url("reset.css");

/* @font-face {
  font-family: "Houschka Pro";
  src: url("../image/houschkapro_demibold.ttf");
} */

@font-face {
  font-family: 'Houschka Pro';
  src: url('./font/HouschkaPro-Bold.eot');
  src: local('./font/Houschka Pro Bold'), local('./font/HouschkaPro-Bold'),
      url('./font/HouschkaPro-Bold.eot?#iefix') format('embedded-opentype'),
      url('./font/HouschkaPro-Bold.woff2') format('woff2'),
      url('./font/HouschkaPro-Bold.woff') format('woff'),
      url('./font/HouschkaPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Houschka Pro';
  src: url('./font/HouschkaPro-ExtraBoldItalic.eot');
  src: local('./font/Houschka Pro ExtraBold Italic'), local('./font/HouschkaPro-ExtraBoldItalic'),
      url('./font/HouschkaPro-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('./font/HouschkaPro-ExtraBoldItalic.woff2') format('woff2'),
      url('./font/HouschkaPro-ExtraBoldItalic.woff') format('woff'),
      url('./font/HouschkaPro-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Houschka Pro';
  src: url('./font/HouschkaPro-BoldItalic.eot');
  src: local('./font/Houschka Pro Bold Italic'), local('.font/HouschkaPro-BoldItalic'),
      url('./font/HouschkaPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('./font/HouschkaPro-BoldItalic.woff2') format('woff2'),
      url('./font/HouschkaPro-BoldItalic.woff') format('woff'),
      url('./font/HouschkaPro-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Houschka Pro';
  src: url('./font/HouschkaPro-ThinItalic.eot');
  src: local('./font/Houschka Pro Thin Italic'), local('./font/HouschkaPro-ThinItalic'),
      url('./font/HouschkaPro-ThinItalic.eot?#iefix') format('embedded-opentype'),
      url('./font/HouschkaPro-ThinItalic.woff2') format('woff2'),
      url('./font/HouschkaPro-ThinItalic.woff') format('woff'),
      url('./font/HouschkaPro-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Houschka Pro';
  src: url('./font/HouschkaPro-Light.eot');
  src: local('./font/Houschka Pro Light'), local('./font/HouschkaPro-Light'),
      url('./font/HouschkaPro-Light.eot?#iefix') format('embedded-opentype'),
      url('./font/HouschkaPro-Light.woff2') format('woff2'),
      url('./font/HouschkaPro-Light.woff') format('woff'),
      url('./font/HouschkaPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Houschka Pro';
  src: url('./font/HouschkaPro-LightItalic.eot');
  src: local('./font/Houschka Pro Light Italic'), local('./font/HouschkaPro-LightItalic'),
      url('./font/HouschkaPro-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('./font/HouschkaPro-LightItalic.woff2') format('woff2'),
      url('./font/HouschkaPro-LightItalic.woff') format('woff'),
      url('./font/HouschkaPro-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Houschka Pro';
  src: url('./font/HouschkaPro-DemiBoldItalic.eot');
  src: local('./font/Houschka Pro DemiBold Italic'), local('./font/HouschkaPro-DemiBoldItalic'),
      url('./font/HouschkaPro-DemiBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('./font/HouschkaPro-DemiBoldItalic.woff2') format('woff2'),
      url('./font/HouschkaPro-DemiBoldItalic.woff') format('woff'),
      url('./font/HouschkaPro-DemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Houschka Pro';
  src: url('./font/HouschkaPro-DemiBold.eot');
  src: local('./font/Houschka Pro DemiBold'), local('./font/HouschkaPro-DemiBold'),
      url('./font/HouschkaPro-DemiBold.eot?#iefix') format('embedded-opentype'),
      url('./font/HouschkaPro-DemiBold.woff2') format('woff2'),
      url('./font/HouschkaPro-DemiBold.woff') format('woff'),
      url('./font/HouschkaPro-DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Houschka Pro';
  src: url('./font/HouschkaPro-Thin.eot');
  src: local('./font/Houschka Pro Thin'), local('./font/HouschkaPro-Thin'),
      url('./font/HouschkaPro-Thin.eot?#iefix') format('embedded-opentype'),
      url('./font/HouschkaPro-Thin.woff2') format('woff2'),
      url('./font/HouschkaPro-Thin.woff') format('woff'),
      url('./font/HouschkaPro-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Houschka Pro';
  src: url('./font/HouschkaPro-ExtraBold.eot');
  src: local('./font/Houschka Pro Extra Bold'), local('./font/HouschkaPro-ExtraBold'),
      url('./font/HouschkaPro-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('./font/HouschkaPro-ExtraBold.woff2') format('woff2'),
      url('./font/HouschkaPro-ExtraBold.woff') format('woff'),
      url('./font/HouschkaPro-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Houschka Pro';
  src: url('./font/HouschkaPro-MediumItalic.eot');
  src: local('./font/Houschka Pro Medium Italic'), local('./font/HouschkaPro-MediumItalic'),
      url('./font/HouschkaPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('./font/HouschkaPro-MediumItalic.woff2') format('woff2'),
      url('./font/HouschkaPro-MediumItalic.woff') format('woff'),
      url('./font/HouschkaPro-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Houschka Pro';
  src: url('./font/HouschkaPro-Medium.eot');
  src: local('./font/Houschka Pro Medium'), local('./font/HouschkaPro-Medium'),
      url('./font/HouschkaPro-Medium.eot?#iefix') format('embedded-opentype'),
      url('./font/HouschkaPro-Medium.woff2') format('woff2'),
      url('./font/HouschkaPro-Medium.woff') format('woff'),
      url('./font/HouschkaPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: rgba(245, 249, 251, 1);
}

.content {
  display: flex;
  flex-direction: row;
  width: 1000px;
  height: 600px;
  overflow: hidden;
  border-radius: 30px;
}

.content-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(66, 71, 79, 1);
  width: 480px;
  color: rgba(255, 255, 255, 1);

}

.logo-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.logo-row img {
  margin-right: 20px;
}

.logo-text {
  display: flex;
  flex-direction: column;
}

.logo-text__one {
  font-family: Montserrat;
  font-size: 8px;
  font-weight: 400;
  line-height: 10px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 10px;
}

.logo-text__two {
  margin-right: 0;
}

.logo-list {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.logo-list h2 {
  font-family: Houschka Pro;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.01em;
  text-align: left;
  width: 180px;
  margin-bottom: 20px;
}

.logo-list li {
  font-family: Houschka Pro;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: -0.01em;
  text-align: left;
  width: 142px;
  margin-bottom: 20px;
  list-style-type: circle
}

.logo-list li::marker {
  margin-top: 3px;
}

.auth-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 1);
  width: 520px;

}

.auth-content__form {
  display: flex;
  flex-direction: column;
  position: relative;
}

.auth-content__form img {
  position: absolute;
  width: 20px;
  height: 20px;
}

.form-user {
  top: 61px;
  left: 10px;
}

.form-lock {
  top: 129px;
  left: 10px;
}

.form-glaz {
  width: 24px !important;
  height: 24px !important;
  top: 129px;
  left: 233px;
}

.auth-content__form h2 {
  font-family: Houschka Pro;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.01em;
  text-align: left;
}

.auth-content__form h3 {
  margin-top: 10px;
  color: rgba(239, 64, 86, 1);
  font-family: Houschka Pro;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.01em;
  text-align: left;
}

.form-h {
  margin-bottom: 30px;
}

.form-input {
  width: 190px;
  height: 43px;
  border: 1px solid rgba(218, 218, 218, 1);
  border-radius: 10px;
  margin-bottom: 20px;
  padding-left: 35px;
  padding-right: 35px;
}

.form-input:focus {
  outline: none;
}

.form-input::placeholder {
  color: rgba(160, 158, 163, 1);
  font-family: Houschka Pro;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;

}



.form-submit {
  background: rgba(255, 213, 48, 1);
  width: 260px;
  height: 43px;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  color: rgba(66, 71, 79, 1);
  font-family: Houschka Pro;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  
}

@media (max-width: 1000px) {
  .content {
    width: 100%;
  }
}


