@import url("reset.css");

@font-face {
  font-family: "Houschka Pro";
  src: url("../image/houschkapro_demibold.ttf");
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: rgba(245, 249, 251, 1);
}

.content {
  display: flex;
  flex-direction: row;
  width: 1000px;
  height: 600px;
  overflow: hidden;
  border-radius: 30px;
}

.content-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(66, 71, 79, 1);
  width: 480px;
  color: rgba(255, 255, 255, 1);

}

.logo-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.logo-row img {
  margin-right: 20px;
}

.logo-text {
  display: flex;
  flex-direction: column;
}

.logo-text__one {
  font-family: Montserrat;
  font-size: 8px;
  font-weight: 400;
  line-height: 10px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 10px;
}

.logo-text__two {
  margin-right: 0;
}

.logo-list {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.logo-list h2 {
  font-family: Houschka Pro;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.01em;
  text-align: left;
  width: 180px;
  margin-bottom: 20px;
}

.logo-list li {
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: -0.01em;
  text-align: left;
  width: 142px;
  margin-bottom: 20px;
  list-style-type: circle
}

.logo-list li::marker {
  margin-top: 3px;
}

.auth-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 1);
  width: 520px;

}

.auth-content__form {
  display: flex;
  flex-direction: column;
  position: relative;
}

.auth-content__form img {
  position: absolute;
  width: 20px;
  height: 20px;
}

.form-user {
  top: 61px;
  left: 10px;
}

.form-lock {
  top: 129px;
  left: 10px;
}

.form-glaz {
  width: 24px !important;
  height: 24px !important;
  top: 129px;
  left: 233px;
}

.auth-content__form h2 {
  font-family: Houschka Pro;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.01em;
  text-align: left;
}

.auth-content__form h3 {
  margin-top: 10px;
  color: rgba(239, 64, 86, 1);
  font-family: Houschka Pro;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.01em;
  text-align: left;
}

.form-h {
  margin-bottom: 30px;
}

.form-input {
  width: 190px;
  height: 43px;
  border: 1px solid rgba(218, 218, 218, 1);
  border-radius: 10px;
  margin-bottom: 20px;
  padding-left: 35px;
  padding-right: 35px;
}

.form-input:focus {
  outline: none;
}

.form-input::placeholder {
  color: rgba(160, 158, 163, 1);
  font-family: Houschka Pro;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;

}



.form-submit {
  background: rgba(255, 213, 48, 1);
  width: 260px;
  height: 43px;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  color: rgba(66, 71, 79, 1);
  font-family: Houschka Pro;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  
}

@media (max-width: 1000px) {
  .content {
    width: 100%;
  }
}


