.autoUnloadingData-namber {
  display: flex;
  align-items: center;
  width: 100px;

  div {
    margin-left: 10px;
    height: 14px;
    color: #0078a8;
    width: fit-content;
    border-bottom: 1px solid #0078a8;
  }
}

.autoUnloadingData-namber:hover {
  cursor: pointer;
  font-weight: 700;
}

.autoUnloadingData-margin {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.autoUnloadingData-auto {
  display: flex;
  align-items: center;
  width: 170px;
  
  div {
    padding-right: 30px;
  }
}

.autoUnloadingData-telephone {
  display: flex;
  align-items: center;
  width: 188px;
  
  div {
    padding-right: 30px;
  }
}

.autoUnloadingData-freeTimeToday {
  display: flex;
  align-items: center;
  width: 300px;
  
  div {
    padding-right: 30px;
  }
}

.autoUnloadingData-freeTimeTomorrow {
  display: flex;
  align-items: center;
  width: 300px;
  
  div {
    padding-right: 30px;
  }
}

.autoUnloadingData-yearOfIssue {
  display: flex;
  align-items: center;
  width: 130px;
  
  div {
    padding-right: 30px;
  }
}

.autoUnloadingData-view {
  display: flex;
  align-items: center;
  width: 115px;
  
  div {
    padding-right: 30px;
  }
}

.autoUnloadingData-status {
  display: flex;
  align-items: center;
  width: 150px;
  
  div {
    padding-right: 30px;
  }
}

.autoUnloadingData-action {
  display: flex;
  align-items: center;
  width: 50px;
}