%dispUnloadingData-style {
  font-family: Houschka Pro;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: -0.02em;
  text-align: left;
}

.dispUnloadingData {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 17px;
  padding-bottom: 20px;
  border-bottom: 3px solid #F5F9FB;
  @extend %groupUnloadingData-style;

  .dispUnloadingData-namber {
    width: 215px;

    div {
      margin-left: 10px;
      height: 14px;
      color: #0078A8;
      width: fit-content;
      border-bottom: 1px solid #0078A8;
    }
  }

  .dispUnloadingData-name {
    width: 310px;

    div {
      padding-right: 40px;
    }
  }

  .dispUnloadingData-name:hover {
    cursor: pointer;
    font-weight: 700;
  }

  .dispUnloadingData-jobTitle {
    width: 230px;
    
    div {
      padding-right: 40px;
    }
  }

  .dispUnloadingData-telephone {
    width: 220px;

    div {
      padding-right: 40px;
    }
  }

  .dispUnloadingData-userGroup {
    width: 280px;

    div {
      padding-right: 70px;
    }
  }

  .dispUnloadingData-auto {
    width: 220px;

    div {
      padding-right: 40px;
    }
  }

  .dispUnloadingData-action {
    width: 50px;

    div {
      padding-right: 0;
    }
  }

  .dispUnloadingData-action-row {
    display: flex;
    flex-direction: row;

    img {
      margin-right: 10px;
      width: 20px;
      height: 20px;
    }

    img:hover {
      cursor: pointer;
    }
  }
}

