.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playing-field {
    height: 300px;
    width: 500px;
    border: 1px solid #000;
    background-color: chartreuse;
}

.ant {
    height: 20px;
    width: 20px;
    background-color: black;
    position: relative;
}

.mov {
    animation: antMov 1s linear;
}
@keyframes antMov {
    0%   { transform: translateX(0); }
    100% { transform: translateX(40px); }
}