<main>
  <section class="sidebar">
      <ul class="p-0">
          <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><span>Добавить задачу</span></a></li>
          <li><a routerLink="/today" routerLinkActive="active"><span>Сегодня</span></a></li>
          <li><a routerLink="/upcoming" routerLinkActive="active"><span>Предстоящие</span></a></li>
          <li><a routerLink="/archive" routerLinkActive="active"><span>Архив</span></a></li>
      </ul>
  </section>
  <section class="content">
    <router-outlet></router-outlet>
  </section>
</main>