@import './Disp/disp';
@import './Admins/admins';
@import './Applications/applications';
@import './Auto/auto';
@import './Group/group';
@import './MyApplications/myApplications';
@import './MyTemplates/myTemplates';
@import './AreCommon/ButtonAdd/buttonAdd';
@import './AreCommon/Search/search';
@import './AreCommon/SelectData/selectData';
@import './AreCommon/DownloadReport/downloadReport';
@import './AreCommon/ListDataNumber/listDataNumber';
@import './AreCommon/DispRowNameWrapper/dispRowNameWrapper';
@import './AreCommon/WrapNameRowData/wrapNameRowData';
@import './AreCommon/WrapperContentCentr/wrapperContentCentr';
@import './AreCommon/GroupRowNameWrapper/groupRowNameWrapper';
@import './AddDisp/addDisp';
@import './AddGroup/addGroup';
@import './AreCommon/AddRowNameInput/addRowNameInput';
@import './AreCommon/ButtonCreate/buttonCreate';
@import './AreCommon/ButtonCancellation/buttonCancellation';
@import './AreCommon/ShowMore/showMore';
@import './AreCommon/AddRowNameSelect/addRowNameSelect';
@import './AreCommon/AutoRowNameWrapper/autoRowNameWrapper';
@import './AreCommon/Datepicker/datepicker';
@import './AreCommon/TimePicker/timePicker';
@import './AddAuto/addAuto';
@import './EditAuto/editAuto';
@import './AddApplications/addApplications';
@import './EditApplications/editApplications';
@import './AreCommon/ApplicationsRowNameWrapper/applicationsRowNameWrapper';
@import './AreCommon/MyApplicationsRowNameWrapper/myApplicationsRowNameWrapper';
@import './AreCommon/Ellipsis/ellipsis';
@import './AreCommon/ButtonCustom/buttonCustom';
@import './AreCommon/ButtonDownloadFile/buttonDownloadFile';
@import './AreCommon/AddRowNameDate/addRowNameDate';
@import './AreCommon/DatepickerAddApplications/datepickerAddApplications';
@import './AreCommon/TimePickerApplications/timePickerApplications';
@import './AreCommon/AddRowNameTime/addRowNameTime';
@import './AssignAcarCard/assignAcarCard';
@import './AreCommon/AssignAcarRowNameWrapper/assignAcarRowNameWrapper';
@import './CancelApplications/cancelApplications';
@import './NoticeOfApplication/noticeOfApplication';

.rightContent {
  width: 100%;
  // height: 100%;
  min-height: 82vh;

  h3 {
    font-family: Houschka Pro;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #333333;
    margin-bottom: 30px;
  }

  .rightContent-label-row {
    display: flex;
    flex-direction: row;
    
    img {
      width: 119px;
      height: 24px;
      margin-left: 65px;
    }

    img:hover {
      cursor: pointer;
    }
  }
}