@media screen and (max-width: 600px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #calendar {
        width: 200px;
        height: 50px;
    }

    #button-voice {
        width: 100%;
        height: 50px;
        margin: 20px;
    }
}