.timePickerApplications-wrap {
  margin-left: 0 !important;

  .timePickerApplications-clean {
    left: 80px !important;
  }

  input {
    width: 521px !important;
    height: 43px !important;
    border: 1px solid #DADADA !important;
    box-shadow: none !important;
  }
}

