.wrapperContentCentr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: #FCFCFC;
  margin-right: 30px;
  min-height: 54px;
  box-shadow: 0px 3px 3px 0px #0000000D;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  span {
    font-family: Houschka Pro;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: -0.02em;
    text-align: left;
    color:#A09EA3;
  }
}

.wrapperContentCentr-activ-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  height: 520px;
  padding: 10px;
  background: #FCFCFC;
  margin-right: 30px;
  box-shadow: 0px 3px 3px 0px #0000000D;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.wrapperContentCentr-activ-data-margin {
  margin-left: 10px
}

@import './GroupUnloadingData/groupUnloadingData';
@import './DispUnloadingData/dispUnloadingData';
@import './AutoUnloadingData/autoUnloadingData';
@import './ApplicationsUnloadingData/applicationsUnloadingData';
@import './AssignAcarUnloadingData/assignAcarUnloadingData';
@import './MyApplicationsUnloadingData/myApplicationsUnloadingData';