.autoCardUnloadin {
  background-color: white;
  padding-left: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 20px;
  max-width: 1562px;
}

.autoCardRowNameWrapper {
  max-width: 1552px;
}