.myTemplatesUnloadin-namber {
  width: 165px;
}

.myTemplatesUnloadin-dateOfApplication {
  width: 215px;
}

.myTemplatesUnloadin-passengerPhone {
  width: 225px;
}

.myTemplatesUnloadin-shippingAddress {
  width: 235px;
}

.myTemplatesUnloadin-arrivalAddress {
  width: 245px;
}

.myTemplatesUnloadin-purposeOfTheTrip {
  width: 205px;
}

.myTemplatesUnloadin-comment {
  width: 190px;
}