.datepickerAddApplications-wrap {
  
  input {
    width: 521px !important;
    height: 43px !important;
    border: 1px solid #DADADA !important;
    border-radius: 10px !important;
    box-shadow: none !important;
  }

  .datepickerAddApplications-clean {
    left: 115px;
  }
}